In [1]:
# Add dependencies
import glob
import pandas as pd

In [3]:
# glob.glob('data*.csv') - returns List[str]
# pd.read_csv(f) - returns pd.DataFrame()
# for f in glob.glob() - returns a List[DataFrames]
# pd.concat() - returns one pd.DataFrame()
clean_data_ridership = pd.concat([pd.read_csv(f) for f in glob.glob('raw_data/CitiBikeDailyRidershipandMembershipData/*.csv')], ignore_index = True)
clean_data_trip = pd.concat([pd.read_csv(f) for f in glob.glob('raw_data/CitiBikeTripHistories/*.csv')], ignore_index = True)

In [4]:
clean_data_ridership.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [5]:
clean_data_ridership.count()

tripduration               354422
starttime                  354422
stoptime                   354422
start station id           354422
start station name         354422
start station latitude     354422
start station longitude    354422
end station id             354422
end station name           354422
end station latitude       354422
end station longitude      354422
bikeid                     354422
usertype                   354422
birth year                 354422
gender                     354422
dtype: int64

In [6]:
clean_data_trip.head()

,tripduration,starttime,stoptime,start station id,start station name,start station latitude,start station longitude,end station id,end station name,end station latitude,end station longitude,bikeid,usertype,birth year,gender
0,201,2019-01-01 03:09:09.7110,2019-01-01 03:12:30.8790,3183,Exchange Place,40.716247,-74.033459,3214,Essex Light Rail,40.712774,-74.036486,29612,Subscriber,1993,1
1,505,2019-01-01 05:18:00.1060,2019-01-01 05:26:25.9050,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29213,Subscriber,1972,2
2,756,2019-01-01 10:36:33.3400,2019-01-01 10:49:10.2600,3183,Exchange Place,40.716247,-74.033459,3192,Liberty Light Rail,40.711242,-74.055701,26164,Subscriber,1985,1
3,1575,2019-01-01 12:43:38.6430,2019-01-01 13:09:54.5280,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29672,Customer,1969,0
4,1566,2019-01-01 12:43:39.6010,2019-01-01 13:09:46.5100,3183,Exchange Place,40.716247,-74.033459,3638,Washington St,40.724294,-74.035483,29522,Customer,1969,0

In [7]:
clean_data_trip.count()

tripduration               354422
starttime                  354422
stoptime                   354422
start station id           354422
start station name         354422
start station latitude     354422
start station longitude    354422
end station id             354422
end station name           354422
end station latitude       354422
end station longitude      354422
bikeid                     354422
usertype                   354422
birth year                 354422
gender                     354422
dtype: int64

In [11]:
# Export to csv
clean_data_ridership.to_csv("clean_data/clean_quarter_data_2019.csv")
clean_data_trip.to_csv("clean_data/clean_data_2019.csv")

In [16]:
clean_data_trip.head(1400000).to_csv("clean_data/clean_data_small_2019.csv")

In [17]:
clean_data_ridership.head(1400000).to_csv("clean_data/clean_quarter_data_small_2019.csv")